html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/*BUTTONS*/
button {
  border: transparent;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  background: transparent;
  transition: 0.3s;
}
button:hover {
  color: white;
  box-shadow: 0 0 14px white;
}
button:focus {
  border: transparent;
}